body {
  background: white;
  margin: 16px 48px;
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 10pt;
}

#canvas {
  border: 1px solid black;
}

img {
  display: block;
	margin: auto;
}
